agate==1.7.0
asn1crypto==1.5.1
attrs==23.1.0
Babel==2.13.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.4
dbt-core==1.5.8
dbt-extractor==0.4.1
dbt-snowflake==1.5.0
filelock==3.12.4
future==0.18.3
hologram==0.0.16
idna==3.4
importlib-metadata==6.8.0
isodate==0.6.1
jaraco.classes==3.3.0
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
keyring==24.2.0
leather==0.3.4
Logbook==1.5.3
MarkupSafe==2.1.3
mashumaro==3.6
minimal-snowplow-tracker==0.0.2
more-itertools==10.1.0
msgpack==1.0.7
networkx==2.8.8
numpy==1.24.4
oscrypto==1.3.0
packaging==23.2
parsedatetime==2.4
pathspec==0.11.2
platformdirs==3.11.0
protobuf==4.24.4
pycparser==2.21
pycryptodomex==3.19.0
PyJWT==2.8.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3.post1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.6
six==1.16.0
snowflake-connector-python==3.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
text-unidecode==1.3
tomlkit==0.12.1
typing_extensions==4.8.0
urllib3==1.26.17
Werkzeug==2.3.7
zipp==3.17.0
